* {
	margin: 0;
	padding: 0;
}


.wrapper {
	height: 100%;
	min-width: 1000px;
}



.inner-header {
	background: #453e37;
	height: 150px;
	width: 100%;
	margin-top: auto;
    margin-bottom: auto 
	
	
}


.inner-header1 {
	background: #453e37;
	height: 150px;
	width: 200px;
	float: right;
    
    transform: translate(-50%, -50%);
	margin-top: 75px;
	margin-right: -100px;
}







.inner-content {
	background: #CBC0C0;
	width: 60%;
	min-height: 600px;
	height:100%;
	margin-left: auto;
    margin-right: auto;
}

.inner-content-block {
	background: #e4d5d5;
	width: 90%;
	
	
	height: 175px;
	border-radius: 20px;
	border: 9px solid;
	margin-left: 30px;
    margin-right: auto;
}

.inner-content-block2 {
	background: #e4d5d5;
	width: 90%;
	
	
	height: 175px;
	border-radius: 20px;
	border: 9px solid;
	margin-left: 30px;
    margin-right: auto;
}

.inner-footer {
	background: #453e37;
	height: 150px;
	width: 100%;
	margin-top: 120px;
	float: bottom;
}

.register {
	display: inline-block;
	background: #a4978c;
	font-weight: 700;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 20px;
	transition: 0.2s;
	margin-left: 20px;
    
	margin-bottom: 15px;
	margin-top: 30px;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	
    
    
}

.register:hover { background: rgba(255,255,255,.2); }
.register:active { 
	background: white;
	
}

.song_up {
	display: inline-block;
	background: #a4978c;
	font-weight: 700;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 20px;
	transition: 0.2s;
	
	margin-left: 52.5px;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	
}

.song_up:hover { background: rgba(255,255,255,.2); }
.song_up:active { background: white; }



body {
    
    background: url(images/bg.jpg) center center no-repeat; /* Цвет фона и путь к файлу */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	
}

.menu1{
	float: right;
	
	
}

.menu {
	display: inline-block;
	background: #a4978c;
	font-weight: 300px;
	padding: 300% 1em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	
}	

.menu:hover { background: rgba(255,255,255,.2); }
.menu:active { background: white; }

h1 {
	
	text-align: center;
	
}



.р1 {
	margin-right: 15px;
	
	
}

a {
	color: black;
	margin-left: auto;
	margin-right: auto;
}



.logop {
	width: 77.5%;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	
}

.idxcity {
	display: inline-block;
	width: 150px;
	margin: 12px 12px 12px 12px;
	float:left;
}

.p1 {
	margin-left: 10px;style="text-indent: 2px;
}

.p3 {
	text-indent: 15px;
	display: inline-block;
}
			